<% if (current_user()) %>
  <script src="/javascripts/phaser.js">                                  </script>
  <script src="/javascripts/box2d-plugin-full.js" type="text/javascript"></script>
  <script src="/javascripts/modules/factories/firefly.js">               </script>
  <script src="/javascripts/modules/factories/fish.js">                  </script>
  <script src="/javascripts/modules/factories/projectile.js">            </script>
  <script src="/javascripts/modules/states/Boot.js">                     </script>
  <script src="/javascripts/modules/states/Preload.js">                  </script>
  <script src="/javascripts/modules/states/Oaktree.js">                  </script>
  <script src="/javascripts/modules/states/Stream.js">                   </script>
  <script src="/javascripts/modules/states/Minimenu.js">                 </script>
  <script src="/javascripts/modules/states/Minigame.js">                 </script>
  <script src="/javascripts/modules/states/EndDemo.js">                  </script>
  <script src="/javascripts/modules/CarouselGame.js">                    </script>

  <center><div id="gamecontainer"></div></center>
<% else %>
  redirect_to "/auth/facebook"
<% end %>
