<div id="background-container" content scroll="false">
    <img src="../images/indexbackground.jpg" usemap="#index" />

    <% if (current_user()) %>
        <map name="index">
            <area  alt="" title="" href="/carousel/index" shape="rect" coords="986,412,1164,536" style="outline:none;" />
        </map>
    <% else %>
        <map name="index">
            <area  alt="" title="" href="/auth/facebook" shape="rect" coords="986,412,1164,536" style="outline:none;" />
        </map>
    <% end %>
</div>


<!-- <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <% if (current_user()) %>
                    <%= link_to "Play Demo", carousel_index_path, class: "btn btn-lg btn-primary"%>
                <% else %>
                    <%= link_to "Sign in with Facebook to play", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div> -->
