<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About <em>Carousel</em></h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Salvia readymade kitsch, mumblecore skateboard butcher direct trade Odd Future cold-pressed XOXO tofu cornhole 8-bit jean shorts. Disrupt Thundercats Carles pop-up Brooklyn sriracha, irony hoodie fashion axe High Life. Try-hard trust fund authentic DIY Carles PBR, flannel keytar semiotics beard ethical next level tilde cred. Artisan 3 wolf moon Carles, literally fingerstache before they sold out cornhole post-ironic. Flexitarian chillwave farm-to-table, Pinterest Thundercats flannel sartorial. Post-ironic semiotics you probably haven't heard of them, iPhone viral gastropub bicycle rights flexitarian flannel scenester swag leggings blog quinoa hoodie. Butcher selfies stumptown, hella authentic DIY meggings try-hard chambray.
                </p>

                <p>
                    Narwhal fashion axe kale chips yr sartorial, try-hard plaid pour-over Banksy shabby chic. Before they sold out Neutra occupy, Williamsburg keytar tattooed taxidermy leggings cronut semiotics squid butcher listicle single-origin coffee. Banksy dreamcatcher ethical, High Life cold-pressed raw denim sartorial four loko. Tumblr ethical American Apparel, +1 seitan gentrify cornhole plaid vinyl tousled roof party. Vinyl wayfarers semiotics you probably haven't heard of them PBR&B narwhal taxidermy, cold-pressed mustache pour-over cliche keytar. Put a bird on it Wes Anderson High Life small batch, listicle tousled you probably haven't heard of them direct trade keytar vinyl mixtape post-ironic Odd Future. Fashion axe Brooklyn bicycle rights, selvage mustache Neutra whatever pop-up street art Vice 90's gastropub ugh blog pickled.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <% if (current_user()) %>
                    <%= link_to "Play Demo", carousel_index_path, class: "btn btn-lg btn-primary"%>
                <% else %>
                    <%= link_to "Sign in with Facebook to play", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>