<div id="background-container" content scroll="false">
  <img src="../images/indexbackground.jpg" usemap="#index" />

  <map name="index">
    <area  alt="" title="" href="/carousel/index" shape="rect" coords="986,412,1164,536" style="outline:none;" target="_blank"  />
  </map>
</div>