        <!-- <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>Carousel: The Game</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">The Story</a>
                        </li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                        <li>
                            <a href="#">Log In/ Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>The Story</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Salvia readymade kitsch, mumblecore skateboard butcher direct trade Odd Future cold-pressed XOXO tofu cornhole 8-bit jean shorts. Disrupt Thundercats Carles pop-up Brooklyn sriracha, irony hoodie fashion axe High Life. Try-hard trust fund authentic DIY Carles PBR, flannel keytar semiotics beard ethical next level tilde cred. Artisan 3 wolf moon Carles, literally fingerstache before they sold out cornhole post-ironic. Flexitarian chillwave farm-to-table, Pinterest Thundercats flannel sartorial. Post-ironic semiotics you probably haven't heard of them, iPhone viral gastropub bicycle rights flexitarian flannel scenester swag leggings blog quinoa hoodie. Butcher selfies stumptown, hella authentic DIY meggings try-hard chambray.
                        </p>

                        <p>
                            Narwhal fashion axe kale chips yr sartorial, try-hard plaid pour-over Banksy shabby chic. Before they sold out Neutra occupy, Williamsburg keytar tattooed taxidermy leggings cronut semiotics squid butcher listicle single-origin coffee. Banksy dreamcatcher ethical, High Life cold-pressed raw denim sartorial four loko. Tumblr ethical American Apparel, +1 seitan gentrify cornhole plaid vinyl tousled roof party. Vinyl wayfarers semiotics you probably haven't heard of them PBR&B narwhal taxidermy, cold-pressed mustache pour-over cliche keytar. Put a bird on it Wes Anderson High Life small batch, listicle tousled you probably haven't heard of them direct trade keytar vinyl mixtape post-ironic Odd Future. Fashion axe Brooklyn bicycle rights, selvage mustache Neutra whatever pop-up street art Vice 90's gastropub ugh blog pickled.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-lg btn-primary">Play Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                        class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                        class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                        class="img-responsive">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Footer header</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
